body{
    background-color: dodgerblue;
    border: 25px ridge deepskyblue;
}

.btn_style{
    color: dodgerblue;
    background-color: deepskyblue;
    width: fit-content;
    padding: 15;
    border-radius: 15px;
    border:10px ridge dodgerblue;
}

.btn_style:hover{
    color: deepskyblue;
    background-color: dodgerblue;
    border:10px ridge deepskyblue;
}

canvas{
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes example{
    
    from {box-shadow: 20px 20px 15px rgb(255, 64, 0);}
    to{box-shadow: -20px -20px 15px rgb(0, 191, 255);}
}